/* #b{
	background-color: coral;
	color: blueviolet;
	text-align: center;

}
#lbl{
	color: red;
}
#loginbody{
	background-color: lightpink;
}
.container-fluid{
	background-color: indianred;
}
.aligncenter{
	text-align: center;
}
.anchor{
	margin-right: 20px;
	margin-left: 20px;
}

p{background-color: lightblue;} */
h1{background-color:rebeccapurple ;}