body{
background-image: url('https://cdn.wallpapersafari.com/73/92/bhtLMx.jpg');
background-repeat: no-repeat;
background-size: cover;
}

.mainWrapper{
    margin: 20px;
    padding: 1em;
    /* margin: 1em; */
    border-bottom: solid lightgray 1px;
}
.wrapper{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items:start;
    
    
}
.questions{
    font-weight: bold;
}
/* .choices{
    border: solid black 1px;
    border-radius: 7px;
    
    margin: 1em;
    padding: 10px;
    align-content: start;
   

} */
.btn{
    border: solid lightgray 0.5px;
    border-radius: 7px;
    min-width: 40%;
    padding: 1em;
}
.OpeningDiv{
 
  padding: 1em;
  height: 500px;
  text-align: center;
  padding-top: 100px;
}
.OpeningDiv button{
    padding: 1em;
    min-width: 15%;
    background-color: rgb(17, 17, 182);
    color: white;
    border: none;
    border-radius: 5px;
}
.finalbtn{
    padding: 1em;
    min-width: 10%;
    background-color: rgb(30, 30, 160);
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 45%;
}
.scoreTxt{
    font-weight: bold;
    font-size: large;
    text-align: center;
    color: darkorchid;

}