body{color: rgba(242, 50, 73, 2);font:italic 1em bolder helvetica;background: black url('images/blue.jpg') center/cover no-repeat fixed;}
/*h1{color: yellowgreen;}*/
p{border: 1px dashed blueviolet;margin: 20px;padding: 20px;background-color: skyblue;}